@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.dark-bg-text-container {
    background-color: #0b0b0b;
    background-size: cover;

}

.bulb-image {
    width: 150px;
    height: 200px;
}

.cat-image {
    height: 200px;
    width: 150px;
}

.switch-board {
    background-color: #7b8794;
    height: 120px;
    width: 250px;
    border-radius: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 16px;

}

.switch-status {
    color: white;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 16px;
}

.off-switch {
    color: #ffffff;
    background-color: #e12d39;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 80px;
    border-radius: 12px;

}

.on-switch {
    color: #ffffff;
    background-color: #cbd2d9;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    width: 80px;
    border-radius: 12px;
    margin-left: 16px;

}